.\identity-server\Mouyumed-COV-1920-Tintin-tin-dramatique\Mouyumed-COV-1920-Tintin-tin-dramatique\obj
.\identity-server\Mouyumed-COV-1920-Tintin-tin-dramatique\.vs\Mouyumed-COV-1920-Tintin-tin-dramatique\v16\Server\sqlite3