./identity-server/Mouyumed-COV-1920-Tintin-tin-dramatique/Mouyumed-COV-1920-Tintin-tin-dramatique/obj/*
./identity-server/Mouyumed-COV-1920-Tintin-tin-dramatique/.vs/Mouyumed-COV-1920-Tintin-tin-dramatique/v16/Server/sqlite3
./Mouyumed-COV-1920-Tintin-tin-dramatique/Mouyumed-COV-1920-Tintin-tin-dramatique/obj/project.assets.json
./Mouyumed-COV-1920-Tintin-tin-dramatique/Mouyumed-COV-1920-Tintin-tin-dramatique/obj/Debug/netcoreapp3.1/Mouyumed-COV-1920-Tintin-tin-dramatique.csprojAssemblyReference.cache
.vs
.idea
./Mouyumed-COV-1920-Tintin-tin-dramatique/.vs/Mouyumed-COV-1920-Tintin-tin-dramatique/v15/Server/sqlite3/storage.ide-shm
./Mouyumed-COV-1920-Tintin-tin-dramatique/.vs/Mouyumed-COV-1920-Tintin-tin-dramatique/v15/Server/sqlite3/storage.ide-wal
./Mouyumed-COV-1920-Tintin-tin-dramatique/Mouyumed-COV-1920-Tintin-tin-dramatique/obj/Mouyumed-COV-1920-Tintin-tin-dramatique.csproj.nuget.cache
./Mouyumed-COV-1920-Tintin-tin-dramatique/Mouyumed-COV-1920-Tintin-tin-dramatique/obj/Mouyumed-COV-1920-Tintin-tin-dramatique.csproj.nuget.g.props
./Mouyumed-COV-1920-Tintin-tin-dramatique/Mouyumed-COV-1920-Tintin-tin-dramatique/obj/project.assets.json

*.swp
.~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug
[Dd]ebugPublic
[Rr]elease
[Rr]eleases
x64
x86
build
bld
[Bb]in
[Oo]bj
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs
