@page
@model IndexModel
@{
}

<div class="text-center">
    <form method="post" action="Login">
        <p><input type="email" id="email" name="login"/></p>
        <p><input type="password" id="mdp" name="mot de passe"/></p>
        <input type="submit" value="Connexion"/>
    </form>
</div>
